.mb-3.input-group {
    width: 30%;
    margin: 0 auto;
}

.btn.btn-primary {
    width: max-content;
}

@media screen and (max-width : 767px) {
    .mb-3.input-group {
        margin: 0 auto;
        min-width: 250px;
    }
}