.next-weather-card-container {
    width: 80%;
    margin-top: 1rem;
    min-width: 300px;
}

.div-articles {
    display: grid;
    overflow-y: hidden;
    grid-template-columns: repeat(8, calc((100% / 3) - 6px));
    gap: 6px;
}

.div-articles::-webkit-scrollbar {
    background-color: transparent;
}

.next-weather-card {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: rgba(12, 35, 70, 0.678);
    color: #e9e3e3;
    padding: .5rem;
    cursor: pointer;
    opacity: .8;
}

.next-weather-card:hover {
    opacity: 1;
}

.next-weather-div-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-weather-img {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.temp-max {
    margin-right: 6px;
}

.temp-min {
    opacity: .7;
}

.hour-text {
    text-align: center;
    display: flex;
    margin: auto;
    opacity: .7;
}

.extended-forecast {
    color: rgb(240, 231, 231);
    filter: drop-shadow(2px 2px 2px rgb(36, 8, 8))
}

.extended-forecast-error {
    color: red;
}

.extended-forecast,
.extended-forecast-error {
    font-weight: 600;
    font-size: 1.2rem;
}

@media screen and (min-width: 767px) {

    .next-weather-card-container {
        margin-top: 2rem;

    }

    .div-articles {
        overflow: hidden;
        grid-template-columns: repeat(8, calc((100% / 6) - 6px));
    }

    .extended-forecast,
    .extended-forecast-error {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .div-articles {
        overflow: hidden;
        grid-template-columns: repeat(8, calc((100% / 8) - 6px));
    }
}